.header {
    position: relative;
    padding: 1rem;
    border-bottom: 2px solid #eee;
    margin-bottom: 1rem;
}

.btn-sair {
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    background: none;
    box-shadow: none;
    color: #c0392b;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
    font-size: 1rem;
    display: flex;
    align-items: center;

}

.btn-sair:hover {
    background: none;
    box-shadow: none;
    transform: scale(1.02);
}

.qrcode-fechar {
    margin-top: 20px;
}

#qr-reader video {
    transform: scaleX(-1);
}

.tooltip {
    position: relative;
    cursor: pointer;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: max-content;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 8px;
    padding: 6px 12px;
    position: absolute;
    z-index: 1000;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%);
    opacity: 0;
    transition: opacity .3s ease, transform .3s ease;
    font-size: .85rem;
    white-space: nowrap;
    pointer-events: none;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.logo-lanchou {
    width: 150px;
}

.historico-lista {
    overflow: auto;
    max-height: 200px;
}

h3,
h2,
h1,
button {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media screen and (min-width: 769px) {

    .desktop-modais {
        display: grid;
        gap: 1%;
    }

    .desktop-cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1%;
    }

    .static-modal {
        box-shadow: none;
        border: 1px solid #ffe1c1;
        border-radius: 8px;
        width: auto;
    }

    .static-modal .fechar {
        display: none;
    }

    .card.menu-opcoes {
        display: none;
    }
}